@model IEnumerable<WebApp.Models.Enrollment>
<div class="page-content">
    <h1 class="page-title">
        Enrollment Cart
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Student">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Enrollment Cart
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group">
                <a class="btn btn-fit-height blue" href="/Student/Enroll">
                    <i class="fa fa-plus"></i> Enroll In New Class
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <h3>Fall 2017</h3>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="">
                        <thead>
                            <tr>
                                <th> Course </th>
                                <th> Room </th>
                                <th> Times </th>
                                <th> Professor </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var enrollment in Model)
                            {
                                <tr>
                                    <th>@enrollment.section.offering.course.name</th>
                                    <th> @enrollment.section.room </th>
                                    <th> @foreach (var timeSlot in enrollment.section.TimeSlots) { 
                                        @timeSlot.dayofweek @:: @timeSlot.starttime - @timeSlot.endtime,
                                    }</th>
                                    <th> @enrollment.section.professor.firstname @enrollment.section.professor.lastname </th>
                                    <th>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                Course Options
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-left" role="menu">
                                                <li>
                                                    <a href="/Student/Cart/Remove/@enrollment.Id">
                                                        Remove From Cart
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-fit-height blue" href="/Student/Cart/Clear">
                                        <i class="fa fa-close"></i> Clear Cart
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-fit-height blue" href="/Student/Enroll/CheckoutResult">
                                        <i class="fa fa-check"></i> Checkout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section PageScripts{
        <script>
            $(document).ready(function () {

            });
        </script>
    }
