@model WebApp.Features.Student.Components.TopHeaderVM
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="/Student">
                <img src="~/logo.png" alt="logo" class="logo-default" style="width: 125px; margin-top: 0px;" />
            </a>
            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <div class="page-top" style="background: #3e3e3e;">
            <div class="top-menu" data-model="TopBarModel">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-shopping-cart"></i>
                            @if (Model.CartItems.Count > 0)
                            {
                                <span class="badge badge-default"> @Model.CartItems.Count </span>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>
                                    <span class="bold"> @Model.CartItems.Count courses</span> in cart
                                </h3>
                                <a href="/Student/Cart">view cart</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                    @foreach (var course in Model.CartItems)
                                    {
                                        <li>
                                            <a href="/Student/Cart">
                                                <span class="time">
                                                    @course.section.offering.course.major.name
                                                    @course.section.offering.course.number
                                                </span>
                                                <span class="details"> @course.section.offering.course.name </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="Profile Photo" class="img-circle" src="~/assets/global/img/avatar.png" id="ProfileImage" name="ProfileImage" />
                            <span class="username username-hide-on-mobile"> @Model.Account.firstname @Model.Account.lastname</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/Student">
                                    <i class="fa fa-id-card"></i> My Dashboard
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="/Logout">
                                    <i class="fa fa-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@Model.Account.email" id="emailGrav" name="emailGrav" />
<input type="hidden" value="@Model.Account.firstname" id="currentUserName" name="currentUserName" />