@model WebApp.Features.Admin.Majors.MajorVM
<div class="page-content">
    <h1 class="page-title">
        @Model.major.fullname (@Model.major.name)
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Admin/Majors">Majors</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                @Model.major.fullname (@Model.major.name)
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" id="">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Full Name</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.major.fullname</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Coded Name</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.major.name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Course Code</th>
                                        <th>Course Name</th>
                                        <th>Credits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var course in Model.courses)
                                    {
                                        <tr>
                                            <th>@Model.major.name @course.number</th>
                                            <th><a href="/Admin/Courses/@course.Id">@course.name</a></th>
                                            <th>@course.credithours</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>